#!/usr/bin/env bash

if [ -z "$(pidof -s redshift)" ]; then
    redshift -t 5000K:3300K &> /dev/null &
fi

# set editor to emacs, using daemon in terminal mode
export EDITOR="emacsclient -c"
if [ -z "$(pidof -s emacs)" ]; then
   emacs --daemon --with-x-toolkit=lucid &> /dev/null &
fi
